/** global style **/

.main-item-wrapper {
  & > div {
    .content {
      width: 100%;
      height: 100%;
      background: url("~assets/images/box-bg.png") no-repeat;
      background-size: 100% 100%;
      .title {
        height: 5vh;
        line-height: 5.3vh;
        text-align: center;
        font-weight: 600;
      }
      .detail {
        height: calc(100% - 5vh);
      }
    }
  }
}
.el-date-table td.current:not(.disabled) span {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.el-table {
  background-color: transparent !important;
  tr, th {
    background-color: transparent !important;
    color: #fff;
  }
  th {
    background: rgba(255, 255, 255, 0.1) !important;
  }
}
.el-table--border {
  border: 1px solid #07164D !important;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #07164D !important;
  border-right: 1px solid #07164D !important;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: #07164D !important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #fff;
}
.category {
  li {
    float: left;
    padding: 5px 15px;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background: #263C71;
      color: #00FFFF;
    }
    &:hover {
      cursor: pointer;
      color: #00FFFF;
    }
  }
}

//滚动条美化
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}
//凹槽颜色
::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}
//滚动条
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  background-color: #dddddd;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
