/** variable style **/
$electric: rgb(22, 123, 255);
$electric-circle-color1: rgba(22, 123, 297, 0.2);
$electric-circle-color2: rgba(22, 123, 297, 1);
$electric-circle-color3: rgba(22, 123, 297, 0.2);
$electric: rgba(22, 123, 297, 1);
$electric-mid: rgba(45, 221, 253, 0.5);
$electric-left: rgba(45, 221, 253, 0.2);
$electric-right: rgba(45, 221, 253, 0.5);

$water: rgb(0, 175, 168);
$water-mid: rgba(0, 175, 168, 0.5);
$water-left: rgba(0, 175, 168, 0.2);
$water-right: rgba(0, 175, 168, 0.5);

$gas: rgb(162, 173, 69);
$gas-circle-color1: rgba(162, 173, 69, 0.8);
$gas-circle-color2: rgba(162, 173, 69, 1);
$gas-circle-color3: rgba(162, 173, 69, 0.8);
$gas-mid: rgba(112, 159, 91, 0.5);
$gas-left: rgba(112, 159, 91, 0.2);
$gas-right: rgba(112, 159, 91, 0.5);

$heat: rgb(201, 128, 113);
$heat-mid: rgba(201, 128, 113, 0.5);
$heat-left: rgba(201, 128, 113, 0.2);
$heat-right: rgba(201, 128, 113, 0.5);
